@use "./mixins";
@use "./responsive";

@mixin navbarStyles {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1vw;
	span {
		text-transform: uppercase;
		color: black;
	}
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12vh;
	padding: 0 3vw;

	.navbar-left {
		@include navbarStyles;
		@include mixins.underline("span", #121212d6);
		.navbar-category {
			height: 14vh;
			padding-top: 6vh;
			cursor: auto;
		}
	}
	.navbar-right {
		@include navbarStyles;
		@include mixins.underline("span", #121212d6);
        .navbar-cart {
            height: 14vh;
			padding-top: 5.5vh;
			cursor: auto;
        }
	}
	.navbar-center {
        cursor: pointer;
		h3,
		h5 {
			font-weight: 300;
			text-align: center;
			padding-top: 0;
		}
		img {
			height: 2vh;
			display: block;
			margin: 0.7vh auto 0 auto;
		}
	}
}

.drop-down {
	table {
        border-top: 1px solid #c0c0c0;
		width: 100%;
		text-transform: uppercase;
		padding: 3vh 0 5px 0;
		th {
			text-align: left;
		}
		th,
		td {
			padding: 0.5vh 0 1.2vh 3vw;
			border-bottom: 1px solid #ddd;
			border-right: 1px solid #ddd;
		}
	}
}

/************************************************************************/

@mixin res($size) {
	nav {
		.navbar-left,
		.navbar-right {
			font-size: $size;
		}
		.navbar-center {
			font-size: $size + 0.5vh;
		}
	}
	.drop-down {
		table {
			font-size: $size;
		}
	}
}

@include responsive.responsive-sm {
	@include res(1vh);
}

@include responsive.responsive-md {
	@include res(2vh);
}

@include responsive.responsive-lg {
	@include res(1.3vh);
}

@include responsive.responsive-xl {
	@include res(2vh);
}

@include responsive.responsive-xxl {
	@include res(2.2vh);
}
