@use "../mixins";

.user-update-form {
	p {
		text-transform: uppercase;
	}
	form {
		display: flex;
		flex-direction: column;
		margin: 5vh 0;
		label {
			margin: 2vh 0 0.5vh 0;
		}
		input,
		select {
			padding: 0.7vw;
			width: 40vw;
		}

        .img-upload {
            display: flex;
            flex-direction: column;
            .btn-group {
                display: flex;
                gap: 2vw;
                margin-top: 2vh;
                button {
                    width: 50%;
                }
                .upload {
                    @include mixins.buttonType1(#fff, #525252);
                }
                .remove {
                    @include mixins.buttonType1(#525252, #fff);
                }
            }
        }

		.update-btn {
			margin-top: 8vh;
            @include mixins.buttonType1(#fff, #525252)
		}
	}
}
