@use "../mixins";

.cart-page {
	display: flex;
	flex-direction: column;
	.navbar {
		position: fixed;
		width: 100%;
		z-index: 1;
		background-color: transparent;
	}
	.main {
		margin-top: 12vh;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 3vw;
		* {
			font-size: 1.7vh;
			text-transform: uppercase;
		}
		.shoppping-bag {
			border: 1px solid #ddd;
			width: 60%;
			.title {
				border-bottom: 1px solid #ddd;
				padding: 2vh 1.5vw;
			}
			.items {
				article.item {
					border-bottom: 1px solid #ddd;
					padding: 2vh 1.5vw;
					display: flex;
					justify-content: space-between;
					figure {
                        display: flex;
                        align-items: center;
                        gap: 2vw;
						img {
							height: 20vh;
						}
					}
					.price {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        button {
                            @include mixins.buttonType1(#525252, #fff)
                        }
					}
				}
			}
			ul {
				list-style-type: none;
				padding: 2vh 1.5vw;
                * {
                    text-transform: none;
                }
				li:not(:last-child) {
					margin-bottom: 1vh;
				}
			}
		}
		.order-summary {
			width: 20%;
			border: 1px solid #ddd;

			.summary {
				border-bottom: 1px solid #ddd;
				padding: 2vh 1.5vw;
			}
			.subtotal {
				border-bottom: 1px solid #ddd;
				padding: 2vh 1.5vw;
				display: flex;
				justify-content: space-between;
			}

			button.checkout-btn {
				@include mixins.buttonType1(#fff, #525252);
				display: flex;
				justify-content: space-between;
				width: 100%;
			}
		}
	}
}
