.category-page {
    display: flex;
    flex-direction: column;
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 1;
        background-color: transparent;
    }
    .main {
        margin-top: 12vh;
        p.title {
            margin: 1vh 0 4vh 3vw;
            padding-top: 4vh;
            border-top: 1px solid #a8a8a7;
        }
    }
}