@use "./responsive";

@include responsive.responsive-sm {
	.category-card {
		img {
			height: 25vh;
		}
		figcaption {
			font-size: 3vh;
		}
	}
}

@include responsive.responsive-md {
    .category-card {
		img {
			height: 80vh;
		}
		figcaption {
			font-size: 5vh;
		}
	}
}

@include responsive.responsive-lg {
	.category-card {
		img {
			height: 35vh;
		}
		figcaption {
			font-size: 4vh;
		}
	}
}

@include responsive.responsive-xl {
	.category-card {
		img {
			height: 65vh;
		}
		figcaption {
			font-size: 5vh;
		}
	}
}

@include responsive.responsive-xxl {
	.category-card {
		img {
			height: 90vh;
		}
		figcaption {
			font-size: 5vh;
		}
	}
}

.category-card {
	position: relative;
	text-align: center;
	img {
		width: 100%;
	}
	figcaption {
		color: #fff;
		position: absolute;
		top: 8px;
		left: 16px;
	}
}
