footer {
    margin: 8vh 0;
    display: flex;
    justify-content: center;
    gap: 5vw;
    section {
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        width: 13.5vw;
        h6 {
            border-bottom: 1px solid black;
            font-weight: 500;
        }
        p {
            font-size: 1.6vh;
            &:hover {
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}