@mixin underline($tag, $color) {
	#{$tag} {
		text-decoration: none;
		display: inline-block;
		cursor: pointer;
	}

	#{$tag}::after {
		content: "";
		width: 0;
		height: 0.5px;
		background-color: $color;
		display: block;
		transition: width 0.5s;
	}

	#{$tag}:hover::after {
		width: 100%;
	}
}

@mixin buttonType1($textColor, $bgColor) {
	color: $textColor;
	border: 1px solid $textColor;
	background: $bgColor;
	cursor: pointer;
	padding: 2vh;
	@include underline("span", $textColor);
}

@mixin grid() {
    display: grid;
	grid-template-columns: repeat(4, 19vw);
	row-gap: 4vh;
	column-gap: 3vw;
	justify-content: space-between;
}
