nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 0 3vw;
    
	.navbar-left {
		display: flex;
		align-items: center;
        justify-content: center;
		gap: 1vw;
		font-size: 8px;
	}
    .navbar-right {
        display: flex;
		align-items: center;
        justify-content: center;
		gap: 1vw;
		font-size: 8px;
    }
}
