.all-products-container {
	.normal-layout-products {
		display: grid;
		grid-template-columns: repeat(4, 21vw);
		row-gap: 2vw;
        justify-content: space-between;   

		* {
			width: 100%;
            height: 55vh;
		}
	}
	margin: 0 3vw;
}
