$row-gap: 4vh;
$col-gap: 2vw;

.all-products-page{
    display: flex;
    flex-direction: column;
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 1;
        background-color: #fff;
    }
    .main {
        margin-top: 12vh;
    }
}

.all-products-container {
    margin-top: 12vh;
	display: flex;
	flex-direction: column;
	gap: $row-gap;

	/**************************************************************************/

	.special-layout-products {
		@for $i from 0 through 9 {
			.product#{$i} {
				grid-area: product#{$i};
			}
		}
		display: grid;
		grid-template-rows: auto;
		row-gap: $row-gap;
		column-gap: $col-gap;
		grid-template-areas:
			"product0 product1 product4 product4"
			"product2 product3 product4 product4"
			"product5 product5 product6 product7"
			"product5 product5 product8 product9";
	}

	/**************************************************************************/

	.normal-layout-products {
		display: grid;
		grid-template-columns: repeat(4, 21vw);
		row-gap: $row-gap;
		column-gap: $col-gap;
		justify-content: space-between;
	}
	margin: 0 3vw;
}
