@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.all-products {
  grid-area: all_products;
}

.cate0 {
  grid-area: cate0;
}

.cate1 {
  grid-area: cate1;
}

.cate2 {
  grid-area: cate2;
}

.cate3 {
  grid-area: cate3;
}

.cate4 {
  grid-area: cate4;
}

.categories-container {
  display: grid;
  grid-template-rows: auto;
  row-gap: 2vw;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  grid-template-areas: "all_products all_products" "cate0 cate1" "cate2 cate2" "cate3 cate4";
  margin: 0 3vw;
}

@media (min-width: 360px) {
  .category-card img {
    height: 25vh;
  }
  .category-card figcaption {
    font-size: 3vh;
  }
}
@media (min-width: 660px) {
  .category-card img {
    height: 80vh;
  }
  .category-card figcaption {
    font-size: 5vh;
  }
}
@media (min-width: 740px) {
  .category-card img {
    height: 35vh;
  }
  .category-card figcaption {
    font-size: 4vh;
  }
}
@media (min-width: 1000px) {
  .category-card img {
    height: 65vh;
  }
  .category-card figcaption {
    font-size: 5vh;
  }
}
@media (min-width: 1200px) {
  .category-card img {
    height: 90vh;
  }
  .category-card figcaption {
    font-size: 5vh;
  }
}
.category-card {
  position: relative;
  text-align: center;
}
.category-card img {
  width: 100%;
}
.category-card figcaption {
  color: #fff;
  position: absolute;
  top: 8px;
  left: 16px;
}

.all-products-container {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  /**************************************************************************/
  /**************************************************************************/
  margin: 0 3vw;
}
.all-products-container .special-layout-products {
  display: grid;
  grid-template-rows: auto;
  row-gap: 4vh;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  grid-template-areas: "product0 product1 product4 product4" "product2 product3 product4 product4" "product5 product5 product6 product7" "product5 product5 product8 product9";
}
.all-products-container .special-layout-products .product0 {
  grid-area: product0;
}
.all-products-container .special-layout-products .product1 {
  grid-area: product1;
}
.all-products-container .special-layout-products .product2 {
  grid-area: product2;
}
.all-products-container .special-layout-products .product3 {
  grid-area: product3;
}
.all-products-container .special-layout-products .product4 {
  grid-area: product4;
}
.all-products-container .special-layout-products .product5 {
  grid-area: product5;
}
.all-products-container .special-layout-products .product6 {
  grid-area: product6;
}
.all-products-container .special-layout-products .product7 {
  grid-area: product7;
}
.all-products-container .special-layout-products .product8 {
  grid-area: product8;
}
.all-products-container .special-layout-products .product9 {
  grid-area: product9;
}
.all-products-container .normal-layout-products {
  display: grid;
  grid-template-columns: repeat(4, 21vw);
  row-gap: 4vh;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  justify-content: space-between;
}

article .product-card img {
  width: 100%;
}
article .product-card figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article .product-card figcaption button {
  cursor: pointer;
}
article .product-card figcaption .product-detail {
  background-color: #fff;
  color: #424242;
}
article .product-card figcaption .product-add {
  background-color: #424242;
  color: #fff;
}

/*************************************************/
@media (min-width: 360px) {
  article .product-card {
    height: 10vh;
  }
  article .product-card figcaption {
    gap: 0.4vh;
  }
  article .product-card figcaption p, article .product-card figcaption button {
    font-size: 1.2vh;
  }
}
@media (min-width: 660px) {
  article .product-card {
    height: 45vh;
  }
  article .product-card figcaption {
    gap: 2vh;
  }
  article .product-card figcaption p, article .product-card figcaption button {
    font-size: 3.5vh;
  }
}
@media (min-width: 740px) {
  article .product-card {
    height: 15vh;
  }
  article .product-card figcaption {
    gap: 0.5vh;
  }
  article .product-card figcaption p, article .product-card figcaption button {
    font-size: 1.7vh;
  }
}
@media (min-width: 1000px) {
  article .product-card {
    height: 32vh;
  }
  article .product-card figcaption {
    gap: 1vh;
  }
  article .product-card figcaption p, article .product-card figcaption button {
    font-size: 3vh;
  }
}
@media (min-width: 1200px) {
  article .product-card {
    height: 49vh;
  }
  article .product-card figcaption {
    gap: 2vh;
  }
  article .product-card figcaption p, article .product-card figcaption button {
    font-size: 4vh;
  }
}
/*************************************************/
.product-card {
  perspective: 1000px;
}

.product-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.product-card:hover .product-card-inner {
  transform: rotateY(180deg);
}

.product-card-front,
.product-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.product-card-back {
  transform: rotateY(180deg);
}

.home-page {
  display: flex;
  flex-direction: column;
}
.home-page .navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}
.home-page .main {
  margin-top: 12vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 0 3vw;
}
nav .navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  font-size: 2vh;
}
nav .navbar-left span {
  text-transform: uppercase;
  color: black;
}
nav .navbar-left span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
nav .navbar-left span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: rgba(18, 18, 18, 0.8392156863);
  display: block;
  transition: width 0.5s;
}
nav .navbar-left span:hover::after {
  width: 100%;
}
nav .navbar-left .navbar-category {
  height: 14vh;
  padding-top: 6vh;
  cursor: auto;
}
nav .navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  font-size: 2vh;
}
nav .navbar-right span {
  text-transform: uppercase;
  color: black;
}
nav .navbar-right span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
nav .navbar-right span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: rgba(18, 18, 18, 0.8392156863);
  display: block;
  transition: width 0.5s;
}
nav .navbar-right span:hover::after {
  width: 100%;
}
nav .navbar-center h3,
nav .navbar-center h5 {
  font-weight: 300;
  text-align: center;
  padding-top: 0;
}
nav .navbar-center img {
  height: 2vh;
  display: block;
  margin: 0.7vh auto 0 auto;
}

.drop-down {
  border-top: 1px solid #c0c0c0;
}
.drop-down table {
  width: 100%;
  font-size: 2vh;
  text-transform: uppercase;
  padding: 3vh 0 5px 0;
}
.drop-down table th {
  text-align: left;
}
.drop-down table th,
.drop-down table td {
  padding: 0.5vh 0 1.2vh 3vw;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

footer {
  margin: 8vh 0;
  display: flex;
  justify-content: center;
  gap: 5vw;
}
footer section {
  display: flex;
  flex-direction: column;
}
footer section h6 {
  border-bottom: 1px solid black;
  font-weight: 500;
}
footer section p {
  font-size: 2vh;
}
footer section p:hover {
  font-weight: 700;
  cursor: pointer;
}

.copyright {
  text-align: center;
  font-size: 2vh;
  margin-top: 15vh;
  margin-bottom: 3vh;
}

/******************************************************************************/
@media (min-width: 360px) {
  footer {
    background-color: lightcoral;
  }
  footer section {
    gap: 1.1vh;
    width: 18vw;
  }
  footer section h6 {
    font-size: 1.5vh;
  }
  footer section p {
    font-size: 1.35vh;
  }
}
@media (min-width: 660px) {
  footer {
    background-color: aqua;
  }
  footer section {
    gap: 1.5vh;
    width: 14vw;
  }
  footer section h6 {
    font-size: 2.8vh;
  }
  footer section p {
    font-size: 2.5vh;
  }
}
@media (min-width: 740px) {
  footer section {
    gap: 1.4vh;
    width: 19vw;
  }
  footer section h6 {
    font-size: 2.4vh;
  }
  footer section p {
    font-size: 2vh;
  }
}
@media (min-width: 1000px) {
  footer {
    background-color: antiquewhite;
  }
  footer section {
    gap: 2vh;
    width: 13.5vw;
  }
  footer section h6 {
    font-size: 2.3vh;
  }
  footer section p {
    font-size: 2vh;
  }
}
@media (min-width: 1200px) {
  footer {
    background-color: lightgreen;
  }
  footer section {
    gap: 2vh;
    width: 13.5vw;
  }
  footer section h6 {
    font-size: 2.5vh;
  }
  footer section p {
    font-size: 2.2vh;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
}/*# sourceMappingURL=style.css.map */