@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.cart-page {
  display: flex;
  flex-direction: column;
}
.cart-page .navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}
.cart-page .main {
  margin-top: 12vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3vw;
}
.cart-page .main * {
  font-size: 1.7vh;
  text-transform: uppercase;
}
.cart-page .main .shoppping-bag {
  border: 1px solid #ddd;
  width: 60%;
}
.cart-page .main .shoppping-bag .title {
  border-bottom: 1px solid #ddd;
  padding: 2vh 1.5vw;
}
.cart-page .main .shoppping-bag .items article.item {
  border-bottom: 1px solid #ddd;
  padding: 2vh 1.5vw;
  display: flex;
  justify-content: space-between;
}
.cart-page .main .shoppping-bag .items article.item figure {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.cart-page .main .shoppping-bag .items article.item figure img {
  height: 20vh;
}
.cart-page .main .shoppping-bag .items article.item .price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cart-page .main .shoppping-bag .items article.item .price button {
  color: #525252;
  border: 1px solid #525252;
  background: #fff;
  cursor: pointer;
  padding: 2vh;
}
.cart-page .main .shoppping-bag .items article.item .price button span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.cart-page .main .shoppping-bag .items article.item .price button span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #525252;
  display: block;
  transition: width 0.5s;
}
.cart-page .main .shoppping-bag .items article.item .price button span:hover::after {
  width: 100%;
}
.cart-page .main .shoppping-bag ul {
  list-style-type: none;
  padding: 2vh 1.5vw;
}
.cart-page .main .shoppping-bag ul * {
  text-transform: none;
}
.cart-page .main .shoppping-bag ul li:not(:last-child) {
  margin-bottom: 1vh;
}
.cart-page .main .order-summary {
  width: 20%;
  border: 1px solid #ddd;
}
.cart-page .main .order-summary .summary {
  border-bottom: 1px solid #ddd;
  padding: 2vh 1.5vw;
}
.cart-page .main .order-summary .subtotal {
  border-bottom: 1px solid #ddd;
  padding: 2vh 1.5vw;
  display: flex;
  justify-content: space-between;
}
.cart-page .main .order-summary button.checkout-btn {
  color: #fff;
  border: 1px solid #fff;
  background: #525252;
  cursor: pointer;
  padding: 2vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cart-page .main .order-summary button.checkout-btn span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.cart-page .main .order-summary button.checkout-btn span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #fff;
  display: block;
  transition: width 0.5s;
}
.cart-page .main .order-summary button.checkout-btn span:hover::after {
  width: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
}
.home-page .navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}
.home-page .main {
  margin-top: 12vh;
}

.all-products-page {
  display: flex;
  flex-direction: column;
}
.all-products-page .navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: transparent;
}
.all-products-page .filter-sort {
  margin-top: 12vh;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}
.all-products-page .main {
  margin-top: 19vh;
}

.checkout-page {
  display: flex;
  flex-direction: column;
}
.checkout-page .navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: transparent;
}
.checkout-page .main {
  margin-top: 12vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-product-page {
  display: flex;
  flex-direction: column;
}
.create-product-page .navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: transparent;
}
.create-product-page .main {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-product-page {
  display: flex;
  flex-direction: column;
}
.single-product-page .navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}
.single-product-page .main {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.single-product-page .main figure {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
}
.single-product-page .main figure img {
  height: 80vh;
}
.single-product-page .main figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  width: 30%;
}
.single-product-page .main figure figcaption button {
  color: #fff;
  border: 1px solid #fff;
  background: #525252;
  cursor: pointer;
  padding: 2vh;
}
.single-product-page .main figure figcaption button span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.single-product-page .main figure figcaption button span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #fff;
  display: block;
  transition: width 0.5s;
}
.single-product-page .main figure figcaption button span:hover::after {
  width: 100%;
}
.single-product-page .main figure figcaption .btn-group {
  display: flex;
  gap: 1vw;
}
.single-product-page .main figure figcaption .btn-group button.edit-btn,
.single-product-page .main figure figcaption .btn-group .delete-btn {
  color: #525252;
  border: 1px solid #525252;
  background: #fff;
  cursor: pointer;
  padding: 2vh;
  width: 50%;
}
.single-product-page .main figure figcaption .btn-group button.edit-btn span,
.single-product-page .main figure figcaption .btn-group .delete-btn span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.single-product-page .main figure figcaption .btn-group button.edit-btn span::after,
.single-product-page .main figure figcaption .btn-group .delete-btn span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #525252;
  display: block;
  transition: width 0.5s;
}
.single-product-page .main figure figcaption .btn-group button.edit-btn span:hover::after,
.single-product-page .main figure figcaption .btn-group .delete-btn span:hover::after {
  width: 100%;
}
.single-product-page .main .other-imgs {
  margin-top: 5vh;
  display: flex;
  gap: 2vw;
}
.single-product-page .main .other-imgs img {
  height: 50vh;
}

.login-page {
  display: flex;
  flex-direction: column;
}
.login-page .navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}
.login-page .main {
  margin-top: 15vh;
}
.login-page .main .already-login {
  margin: 4vh 7vw;
}
.login-page .main .forms {
  display: flex;
  justify-content: space-evenly;
}
.login-page .main .forms .signin-form {
  border: 1px solid black;
  width: 40%;
  padding: 1.5vh 2vw;
  font-size: 2vh;
}
.login-page .main .forms .signin-form p {
  text-transform: uppercase;
}
.login-page .main .forms .signin-form form {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
}
.login-page .main .forms .signin-form form label {
  margin: 2vh 0 0.5vh 0;
}
.login-page .main .forms .signin-form form input {
  padding: 0.5vw;
}
.login-page .main .forms .signin-form form .submit-btn {
  margin-top: 8vh;
}
.login-page .main .forms .signin-form section.error {
  color: red;
  margin-top: 2vh;
}
.login-page .main .forms .register-form {
  border: 1px solid black;
  width: 40%;
  padding: 1.5vh 2vw;
  font-size: 2vh;
}
.login-page .main .forms .register-form p {
  text-transform: uppercase;
}
.login-page .main .forms .register-form form {
  margin: 5vh 0;
  display: flex;
  flex-direction: column;
}
.login-page .main .forms .register-form form label {
  margin: 2vh 0 0.5vh 0;
}
.login-page .main .forms .register-form form input {
  padding: 0.5vw;
}
.login-page .main .forms .register-form form .submit-btn {
  margin-top: 8vh;
}

.user-profile-page {
  display: flex;
  flex-direction: column;
}
.user-profile-page .navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}
.user-profile-page .main {
  margin: 15vh 0;
}
.user-profile-page .main article.already-signin {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.user-profile-page .main article.already-signin menu {
  border: 1px solid black;
  width: 20%;
  height: 50%;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
}
.user-profile-page .main article.already-signin menu button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.user-profile-page .main article.already-signin menu button span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.user-profile-page .main article.already-signin menu button span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #525252;
  display: block;
  transition: width 0.5s;
}
.user-profile-page .main article.already-signin menu button span:hover::after {
  width: 100%;
}
.user-profile-page .main article.already-signin menu button span {
  text-transform: uppercase;
}
.user-profile-page .main article.already-signin section.info {
  border: 1px solid black;
  width: 60%;
  padding: 4vh 2vw;
  display: flex;
  justify-content: space-between;
}
.user-profile-page .main article.already-signin section.info .container .head {
  text-transform: uppercase;
  margin-bottom: 5vh;
}
.user-profile-page .main article.already-signin section.info .container .body {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.user-profile-page .main article.already-signin section.info .container .body .row {
  display: flex;
}
.user-profile-page .main article.already-signin section.info .container .body .row p {
  width: 12vw;
}
.user-profile-page .main article.already-signin section.info .container .foot .btn-group {
  display: flex;
  gap: 2vw;
}
.user-profile-page .main article.already-signin section.info .container .foot .btn-group button.edit-btn {
  color: #525252;
  border: 1px solid #525252;
  background: #fff;
  cursor: pointer;
  padding: 2vh;
}
.user-profile-page .main article.already-signin section.info .container .foot .btn-group button.edit-btn span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.user-profile-page .main article.already-signin section.info .container .foot .btn-group button.edit-btn span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #525252;
  display: block;
  transition: width 0.5s;
}
.user-profile-page .main article.already-signin section.info .container .foot .btn-group button.edit-btn span:hover::after {
  width: 100%;
}
.user-profile-page .main article.already-signin section.info .container .foot .btn-group button.create-btn {
  color: #fff;
  border: 1px solid #fff;
  background: #525252;
  cursor: pointer;
  padding: 2vh;
}
.user-profile-page .main article.already-signin section.info .container .foot .btn-group button.create-btn span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.user-profile-page .main article.already-signin section.info .container .foot .btn-group button.create-btn span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #fff;
  display: block;
  transition: width 0.5s;
}
.user-profile-page .main article.already-signin section.info .container .foot .btn-group button.create-btn span:hover::after {
  width: 100%;
}
.user-profile-page .main article.already-signin section.info img {
  border-radius: 50%;
  height: 40vh;
  width: 40vh;
}
.user-profile-page .main article.already-signin section.info .cancel-update-btn {
  color: #525252;
  border: 1px solid #525252;
  background: #fff;
  cursor: pointer;
  padding: 2vh;
  width: 100%;
}
.user-profile-page .main article.already-signin section.info .cancel-update-btn span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.user-profile-page .main article.already-signin section.info .cancel-update-btn span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #525252;
  display: block;
  transition: width 0.5s;
}
.user-profile-page .main article.already-signin section.info .cancel-update-btn span:hover::after {
  width: 100%;
}
.user-profile-page .main article.not-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8vh;
}
.user-profile-page .main article.not-signin button {
  color: #525252;
  border: 1px solid #525252;
  background: #fff;
  cursor: pointer;
  padding: 2vh;
  width: 20vw;
}
.user-profile-page .main article.not-signin button span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.user-profile-page .main article.not-signin button span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #525252;
  display: block;
  transition: width 0.5s;
}
.user-profile-page .main article.not-signin button span:hover::after {
  width: 100%;
}

.category-page {
  display: flex;
  flex-direction: column;
}
.category-page .navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}
.category-page .main {
  margin-top: 12vh;
}
.category-page .main p.title {
  margin: 1vh 0 4vh 3vw;
  padding-top: 4vh;
  border-top: 1px solid #a8a8a7;
}

.all-products {
  grid-area: all_products;
}

.cate0 {
  grid-area: cate0;
}

.cate1 {
  grid-area: cate1;
}

.cate2 {
  grid-area: cate2;
}

.cate3 {
  grid-area: cate3;
}

.cate4 {
  grid-area: cate4;
}

.categories-container {
  display: grid;
  grid-template-rows: auto;
  row-gap: 2vw;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  grid-template-areas: "all_products all_products" "cate0 cate1" "cate2 cate2" "cate3 cate4";
  margin: 0 3vw;
}

@media (min-width: 360px) {
  .category-card img {
    height: 25vh;
  }
  .category-card figcaption {
    font-size: 3vh;
  }
}
@media (min-width: 660px) {
  .category-card img {
    height: 80vh;
  }
  .category-card figcaption {
    font-size: 5vh;
  }
}
@media (min-width: 740px) {
  .category-card img {
    height: 35vh;
  }
  .category-card figcaption {
    font-size: 4vh;
  }
}
@media (min-width: 1000px) {
  .category-card img {
    height: 90vh;
  }
  .category-card figcaption {
    font-size: 5vh;
  }
}
@media (min-width: 1200px) {
  .category-card img {
    height: 90vh;
  }
  .category-card figcaption {
    font-size: 5vh;
  }
}
.category-card {
  position: relative;
  text-align: center;
}
.category-card img {
  width: 100%;
}
.category-card figcaption {
  color: #fff;
  position: absolute;
  top: 8px;
  left: 16px;
}

.category-products-grid .normal-layout-products {
  display: grid;
  grid-template-columns: repeat(4, 19vw);
  row-gap: 4vh;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  justify-content: space-between;
  margin: 3vw;
}

footer {
  margin: 8vh 0;
  display: flex;
  justify-content: center;
  gap: 5vw;
}
footer section {
  display: flex;
  flex-direction: column;
}
footer section h6 {
  border-bottom: 1px solid black;
  font-weight: 500;
}
footer section p {
  font-size: 2vh;
}
footer section p:hover {
  font-weight: 700;
  cursor: pointer;
}

.copyright {
  text-align: center;
  font-size: 2vh;
  margin-top: 15vh;
  margin-bottom: 3vh;
}

/******************************************************************************/
@media (min-width: 360px) {
  footer section {
    gap: 1.1vh;
    width: 18vw;
  }
  footer section h6 {
    font-size: 1.5vh;
  }
  footer section p {
    font-size: 1.35vh;
  }
}
@media (min-width: 660px) {
  footer section {
    gap: 1.5vh;
    width: 14vw;
  }
  footer section h6 {
    font-size: 2.8vh;
  }
  footer section p {
    font-size: 2.5vh;
  }
}
@media (min-width: 740px) {
  footer section {
    gap: 1.4vh;
    width: 19vw;
  }
  footer section h6 {
    font-size: 2.4vh;
  }
  footer section p {
    font-size: 2vh;
  }
}
@media (min-width: 1000px) {
  footer section {
    gap: 2vh;
    width: 13.5vw;
  }
  footer section h6 {
    font-size: 2.3vh;
  }
  footer section p {
    font-size: 2vh;
  }
}
@media (min-width: 1200px) {
  footer section {
    gap: 2vh;
    width: 13.5vw;
  }
  footer section h6 {
    font-size: 2.5vh;
  }
  footer section p {
    font-size: 2.2vh;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 0 3vw;
  background-color: #fff;
}
nav .navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
nav .navbar-left span {
  text-transform: uppercase;
  color: black;
}
nav .navbar-left span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
nav .navbar-left span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: rgba(18, 18, 18, 0.8392156863);
  display: block;
  transition: width 0.5s;
}
nav .navbar-left span:hover::after {
  width: 100%;
}
nav .navbar-left .navbar-category {
  height: 14vh;
  padding-top: 6vh;
  cursor: auto;
}
nav .navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
nav .navbar-right span {
  text-transform: uppercase;
  color: black;
}
nav .navbar-right span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
nav .navbar-right span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: rgba(18, 18, 18, 0.8392156863);
  display: block;
  transition: width 0.5s;
}
nav .navbar-right span:hover::after {
  width: 100%;
}
nav .navbar-right .navbar-cart {
  height: 14vh;
  padding-top: 5.3vh;
  cursor: auto;
}
nav .navbar-center {
  cursor: pointer;
}
nav .navbar-center h3,
nav .navbar-center h5 {
  font-weight: 300;
  text-align: center;
  padding-top: 0;
}
nav .navbar-center img {
  height: 2vh;
  display: block;
  margin: 0.7vh auto 0 auto;
}

/************************************************************************/
@media (min-width: 360px) {
  nav .navbar-left,
  nav .navbar-right {
    font-size: 1vh;
  }
  nav .navbar-center {
    font-size: 1.5vh;
  }
  .drop-down table {
    font-size: 1vh;
  }
}
@media (min-width: 660px) {
  nav .navbar-left,
  nav .navbar-right {
    font-size: 2vh;
  }
  nav .navbar-center {
    font-size: 2.5vh;
  }
  .drop-down table {
    font-size: 2vh;
  }
}
@media (min-width: 740px) {
  nav .navbar-left,
  nav .navbar-right {
    font-size: 1.3vh;
  }
  nav .navbar-center {
    font-size: 1.8vh;
  }
  .drop-down table {
    font-size: 1.3vh;
  }
}
@media (min-width: 1000px) {
  nav .navbar-left,
  nav .navbar-right {
    font-size: 2vh;
  }
  nav .navbar-center {
    font-size: 2.5vh;
  }
  .drop-down table {
    font-size: 2vh;
  }
}
@media (min-width: 1200px) {
  nav .navbar-left,
  nav .navbar-right {
    font-size: 2.2vh;
  }
  nav .navbar-center {
    font-size: 2.7vh;
  }
  .drop-down table {
    font-size: 2.2vh;
  }
}
.filter-and-sort {
  border-top: 1px solid #525252;
  background-color: #fff;
  padding: 1vh 0;
  margin: 0 3vw;
  display: flex;
  justify-content: flex-end;
}
.filter-and-sort .filter {
  width: 10vw;
  text-align: end;
  cursor: pointer;
}
.filter-and-sort .filter div {
  display: flex;
}
.filter-and-sort .sort {
  width: 10vw;
  text-align: end;
  cursor: pointer;
}
.filter-and-sort .sort div {
  display: flex;
}

.dropdown-filter-sort .dropdown-sort {
  border-top: 1px solid black;
  margin: 0 3vw;
  padding-top: 1vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.dropdown-filter-sort .dropdown-sort .btn-group {
  margin: 3vh 0;
  display: flex;
  justify-content: space-evenly;
  gap: 2vw;
}
.dropdown-filter-sort .dropdown-sort .btn-group button {
  width: 45%;
  background: #fff;
  border: 1px black solid;
  cursor: pointer;
  padding: 1.5vh;
}
.dropdown-filter-sort .dropdown-sort .btn-group button span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.dropdown-filter-sort .dropdown-sort .btn-group button span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: rgba(18, 18, 18, 0.8392156863);
  display: block;
  transition: width 0.5s;
}
.dropdown-filter-sort .dropdown-sort .btn-group button span:hover::after {
  width: 100%;
}
.dropdown-filter-sort .dropdown-sort .btn-group .close-btn {
  color: #fff;
  background: #525252;
}
.dropdown-filter-sort .dropdown-sort .btn-group .close-btn span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.dropdown-filter-sort .dropdown-sort .btn-group .close-btn span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #fff;
  display: block;
  transition: width 0.5s;
}
.dropdown-filter-sort .dropdown-sort .btn-group .close-btn span:hover::after {
  width: 100%;
}
.dropdown-filter-sort .dropdown-filter {
  border-top: 1px solid black;
  margin: 0 3vw;
  padding-top: 1vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.dropdown-filter-sort .dropdown-filter .btn-group {
  margin: 3vh 0;
  display: flex;
  justify-content: space-evenly;
  gap: 2vw;
}
.dropdown-filter-sort .dropdown-filter .btn-group button {
  width: 45%;
  background: #fff;
  border: 1px black solid;
  cursor: pointer;
  padding: 1.5vh;
}
.dropdown-filter-sort .dropdown-filter .btn-group button span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.dropdown-filter-sort .dropdown-filter .btn-group button span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: rgba(18, 18, 18, 0.8392156863);
  display: block;
  transition: width 0.5s;
}
.dropdown-filter-sort .dropdown-filter .btn-group button span:hover::after {
  width: 100%;
}
.dropdown-filter-sort .dropdown-filter .btn-group .close-btn {
  color: #fff;
  background: #525252;
}
.dropdown-filter-sort .dropdown-filter .btn-group .close-btn span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.dropdown-filter-sort .dropdown-filter .btn-group .close-btn span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #fff;
  display: block;
  transition: width 0.5s;
}
.dropdown-filter-sort .dropdown-filter .btn-group .close-btn span:hover::after {
  width: 100%;
}

.navbar-search-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar-search-dropdown form {
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}
.navbar-search-dropdown form input {
  width: 90%;
  height: 3vh;
  border: none;
  border-bottom: 1px solid black;
}
.navbar-search-dropdown form input:focus {
  outline: none;
}
.navbar-search-dropdown section.search-results {
  margin: 2vh 0;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.navbar-search-dropdown section.search-results * {
  font-size: 1.5vh;
  margin: 0 1vw;
}
.navbar-search-dropdown button {
  border: none;
  background: transparent;
  padding: 1vh 0;
}
.navbar-search-dropdown button span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.navbar-search-dropdown button span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: rgba(18, 18, 18, 0.8392156863);
  display: block;
  transition: width 0.5s;
}
.navbar-search-dropdown button span:hover::after {
  width: 100%;
}

.drop-down table {
  background-color: #fff;
  border-top: 1px solid #c0c0c0;
  width: 100%;
  text-transform: uppercase;
  padding: 3vh 0 5px 0;
}
.drop-down table th {
  text-align: left;
}
.drop-down table th,
.drop-down table td {
  padding: 0.5vh 0 1.2vh 3vw;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.drop-down .navbar-cart-dropdown,
.drop-down .navbar-search-dropdown {
  text-transform: none;
  width: 55vh;
  margin-left: auto;
  margin-right: 0;
  background-color: #fff;
}
.drop-down .navbar-cart-dropdown td,
.drop-down .navbar-search-dropdown td {
  border-left: 1px solid #ddd;
  padding-left: 2vw;
}
.drop-down .navbar-cart-dropdown td span,
.drop-down .navbar-search-dropdown td span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.drop-down .navbar-cart-dropdown td span::after,
.drop-down .navbar-search-dropdown td span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: rgba(18, 18, 18, 0.8392156863);
  display: block;
  transition: width 0.5s;
}
.drop-down .navbar-cart-dropdown td span:hover::after,
.drop-down .navbar-search-dropdown td span:hover::after {
  width: 100%;
}
.drop-down .navbar-cart-dropdown tbody tr td {
  padding: 1vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drop-down .navbar-cart-dropdown tbody tr td figure {
  display: flex;
  align-items: center;
  gap: 2vw;
}
.drop-down .navbar-cart-dropdown tbody tr td figure img {
  height: 10vh;
}
.drop-down .navbar-cart-dropdown tbody tr td figure figcaption {
  font-size: 1.5vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.drop-down .navbar-cart-dropdown tbody tr td figure figcaption button {
  text-align: left;
  border: none;
  background: transparent;
}

.user-update-form p {
  text-transform: uppercase;
}
.user-update-form form {
  display: flex;
  flex-direction: column;
  margin: 5vh 0;
}
.user-update-form form label {
  margin: 2vh 0 0.5vh 0;
}
.user-update-form form input,
.user-update-form form select {
  padding: 0.7vw;
  width: 40vw;
}
.user-update-form form .img-upload {
  display: flex;
  flex-direction: column;
}
.user-update-form form .img-upload .btn-group {
  display: flex;
  gap: 2vw;
  margin-top: 2vh;
}
.user-update-form form .img-upload .btn-group button {
  width: 50%;
}
.user-update-form form .img-upload .btn-group .upload {
  color: #fff;
  border: 1px solid #fff;
  background: #525252;
  cursor: pointer;
  padding: 2vh;
}
.user-update-form form .img-upload .btn-group .upload span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.user-update-form form .img-upload .btn-group .upload span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #fff;
  display: block;
  transition: width 0.5s;
}
.user-update-form form .img-upload .btn-group .upload span:hover::after {
  width: 100%;
}
.user-update-form form .img-upload .btn-group .remove {
  color: #525252;
  border: 1px solid #525252;
  background: #fff;
  cursor: pointer;
  padding: 2vh;
}
.user-update-form form .img-upload .btn-group .remove span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.user-update-form form .img-upload .btn-group .remove span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #525252;
  display: block;
  transition: width 0.5s;
}
.user-update-form form .img-upload .btn-group .remove span:hover::after {
  width: 100%;
}
.user-update-form form .update-btn {
  margin-top: 8vh;
  color: #fff;
  border: 1px solid #fff;
  background: #525252;
  cursor: pointer;
  padding: 2vh;
}
.user-update-form form .update-btn span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.user-update-form form .update-btn span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #fff;
  display: block;
  transition: width 0.5s;
}
.user-update-form form .update-btn span:hover::after {
  width: 100%;
}

article .product-card img {
  width: 100%;
}
article .product-card figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article .product-card figcaption .product-detail {
  color: #424242;
  border: 1px solid #424242;
  background: #fff;
  cursor: pointer;
  padding: 2vh;
}
article .product-card figcaption .product-detail span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
article .product-card figcaption .product-detail span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #424242;
  display: block;
  transition: width 0.5s;
}
article .product-card figcaption .product-detail span:hover::after {
  width: 100%;
}
article .product-card figcaption .product-add {
  color: #fff;
  border: 1px solid #fff;
  background: #424242;
  cursor: pointer;
  padding: 2vh;
}
article .product-card figcaption .product-add span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
article .product-card figcaption .product-add span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #fff;
  display: block;
  transition: width 0.5s;
}
article .product-card figcaption .product-add span:hover::after {
  width: 100%;
}

/*************************************************/
@media (min-width: 360px) {
  article .product-card {
    height: 10vh;
  }
  article .product-card figcaption {
    gap: 0.4vh;
  }
  article .product-card figcaption p,
  article .product-card figcaption button {
    font-size: 1.2vh;
  }
}
@media (min-width: 660px) {
  article .product-card {
    height: 45vh;
  }
  article .product-card figcaption {
    gap: 2vh;
  }
  article .product-card figcaption p,
  article .product-card figcaption button {
    font-size: 3.5vh;
  }
}
@media (min-width: 740px) {
  article .product-card {
    height: 15vh;
  }
  article .product-card figcaption {
    gap: 0.5vh;
  }
  article .product-card figcaption p,
  article .product-card figcaption button {
    font-size: 1.7vh;
  }
}
@media (min-width: 1000px) {
  article .product-card {
    height: 49vh;
  }
  article .product-card figcaption {
    gap: 1vh;
  }
  article .product-card figcaption p,
  article .product-card figcaption button {
    font-size: 3vh;
  }
}
@media (min-width: 1200px) {
  article .product-card {
    height: 47vh;
  }
  article .product-card figcaption {
    gap: 2vh;
  }
  article .product-card figcaption p,
  article .product-card figcaption button {
    font-size: 2.5vh;
  }
}
/*************************************************/
.product-card {
  perspective: 1000px;
}

.product-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.product-card:hover .product-card-inner {
  transform: rotateY(180deg);
}

.product-card-front,
.product-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.product-card-back {
  transform: rotateY(180deg);
}

.all-products-container {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  /**************************************************************************/
  /**************************************************************************/
  margin: 0 3vw;
}
.all-products-container .special-layout-products {
  display: grid;
  grid-template-rows: auto;
  row-gap: 6vh;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  grid-template-areas: "product0 product1 product4 product4" "product2 product3 product4 product4" "product5 product5 product6 product7" "product5 product5 product8 product9";
}
.all-products-container .special-layout-products .product0 {
  grid-area: product0;
}
.all-products-container .special-layout-products .product1 {
  grid-area: product1;
}
.all-products-container .special-layout-products .product2 {
  grid-area: product2;
}
.all-products-container .special-layout-products .product3 {
  grid-area: product3;
}
.all-products-container .special-layout-products .product4 {
  grid-area: product4;
}
.all-products-container .special-layout-products .product5 {
  grid-area: product5;
}
.all-products-container .special-layout-products .product6 {
  grid-area: product6;
}
.all-products-container .special-layout-products .product7 {
  grid-area: product7;
}
.all-products-container .special-layout-products .product8 {
  grid-area: product8;
}
.all-products-container .special-layout-products .product9 {
  grid-area: product9;
}
.all-products-container .normal-layout-products {
  display: grid;
  grid-template-columns: repeat(4, 19vw);
  row-gap: 4vh;
  -moz-column-gap: 3vw;
       column-gap: 3vw;
  justify-content: space-between;
}

.create-product {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
}
.create-product form {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 30vw;
}
.create-product form * {
  padding: 1vh;
}
.create-product form .create-btn {
  color: #fff;
  background-color: #525252;
  cursor: pointer;
}
.create-product button {
  width: 100%;
  color: #525252;
  background-color: #fff;
  padding: 1vh;
  cursor: pointer;
}
.create-product button span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.create-product button span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: rgba(18, 18, 18, 0.8392156863);
  display: block;
  transition: width 0.5s;
}
.create-product button span:hover::after {
  width: 100%;
}

.update-product-page {
  display: flex;
  flex-direction: column;
}
.update-product-page .navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}
.update-product-page .main {
  margin-top: 12vh;
  display: flex;
  justify-content: center;
}
.update-product-page .main .form h3 {
  text-align: center;
  margin: 2vh 0;
}
.update-product-page .main .form form {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 30vw;
}
.update-product-page .main .form form * {
  padding: 1vh;
}
.update-product-page .main .form form .update-btn {
  color: #fff;
  border: 1px solid #fff;
  background: #525252;
  cursor: pointer;
  padding: 2vh;
  transition: 0.3s;
}
.update-product-page .main .form form .update-btn span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.update-product-page .main .form form .update-btn span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #fff;
  display: block;
  transition: width 0.5s;
}
.update-product-page .main .form form .update-btn span:hover::after {
  width: 100%;
}
.update-product-page .main .form form .update-btn:hover {
  color: #525252;
  border: 1px solid #525252;
  background: #fff;
  cursor: pointer;
  padding: 2vh;
}
.update-product-page .main .form form .update-btn:hover span {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.update-product-page .main .form form .update-btn:hover span::after {
  content: "";
  width: 0;
  height: 0.5px;
  background-color: #525252;
  display: block;
  transition: width 0.5s;
}
.update-product-page .main .form form .update-btn:hover span:hover::after {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
}/*# sourceMappingURL=style.css.map */