@use "../mixins";

.create-product {
	display: flex;
	flex-direction: column;
	gap: 5vh;
    align-items: center;
	form {
		display: flex;
		flex-direction: column;
		gap: 3vh;
		width: 30vw;
		* {
			padding: 1vh;
		}
		.create-btn {
			color: #fff;
			background-color: #525252;
			cursor: pointer;
		}
	}
	button {
        width: 100%;
		color: #525252;
		background-color: #fff;
        padding: 1vh;
		cursor: pointer;
		@include mixins.underline("span", #121212d6);
	}
}
