@use "../responsive";
@use "../mixins";

article .product-card {
	img {
		width: 100%;
	}
	figcaption {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.product-detail {
			@include mixins.buttonType1(#424242, #fff);
		}
		.product-add {
			@include mixins.buttonType1(#fff, #424242);
		}
	}
}

/*************************************************/

@include responsive.responsive-sm {
	article .product-card {
		height: 10vh;
		figcaption {
			gap: 0.4vh;
			p,
			button {
				font-size: 1.2vh;
			}
		}
	}
}

@include responsive.responsive-md {
	article .product-card {
		height: 45vh;
		figcaption {
			gap: 2vh;
			p,
			button {
				font-size: 3.5vh;
			}
		}
	}
}

@include responsive.responsive-lg {
	article .product-card {
		height: 15vh;
		figcaption {
			gap: 0.5vh;
			p,
			button {
				font-size: 1.7vh;
			}
		}
	}
}

@include responsive.responsive-xl {
	article .product-card {
		height: 49vh;
		figcaption {
			gap: 1vh;
			p,
			button {
				font-size: 3vh;
			}
		}
	}
}

@include responsive.responsive-xxl {
	article .product-card {
		height: 47vh;
		figcaption {
			gap: 2vh;
			p,
			button {
				font-size: 2.5vh;
			}
		}
	}
}

/*************************************************/

// Flip card styles
.product-card {
	perspective: 1000px;
}
.product-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.product-card:hover .product-card-inner {
	transform: rotateY(180deg);
}

.product-card-front,
.product-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.product-card-back {
	transform: rotateY(180deg);
}
